.header{
    text-align: right;
}
.header nav{
    background-color: rgb(79, 117, 121);
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: rgb(202, 143, 41);
    text-decoration:underline;
}
.left-nav{
    margin-right: 65%;
    color: rgba(246, 146, 74, 0.856);
    text-decoration: none;
    font-weight: bold;
}